<!DOCTYPE html>

<html>

<head>

<title>Analytics Dashboard</title>


<link rel="stylesheet"
href="{{url_for('static',filename='css/style.css')}}">


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>


<body>


<div class="sidebar">


<h2>Analytics Pro</h2>


<a href="/">Dashboard</a>

<a href="/sales">Sales</a>

<a href="/customers">Customers</a>

<a href="/finance">Finance</a>

<a href="/inventory">Inventory</a>

<a href="/prediction">Prediction</a>


</div>




<div class="main">


<h1>Executive Dashboard</h1>



<div class="cards">


<div class="card">
<h3>Total Revenue</h3>
<h1>$250K</h1>
</div>



<div class="card">
<h3>Customers</h3>
<h1>5400</h1>
</div>



<div class="card">
<h3>Profit</h3>
<h1>$90K</h1>
</div>



<div class="card">
<h3>Growth</h3>
<h1>25%</h1>
</div>


</div>



<div class="charts">


<div>
<canvas id="salesChart"></canvas>
</div>


<div>
<canvas id="profitChart"></canvas>
</div>


</div>


</div>



<script>


new Chart(
document.getElementById("salesChart"),

{

type:"line",

data:{

labels:["Jan","Feb","Mar","Apr"],

datasets:[{

label:"Sales",

data:[100,200,300,400]

}]

}

}

);



new Chart(

document.getElementById("profitChart"),

{

type:"bar",

data:{

labels:["Jan","Feb","Mar","Apr"],

datasets:[{

label:"Profit",

data:[50,80,120,150]

}]

}

}

);


</script>



</body>

</html>