<!DOCTYPE html>
<html>

<head>

<title>Sales Dashboard</title>

<link rel="stylesheet"
href="{{url_for('static',filename='css/style.css')}}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>


<body>


<div class="sidebar">

<h2>Analytics Pro</h2>

<a href="/">Dashboard</a>
<a href="/sales">Sales</a>
<a href="/customers">Customers</a>
<a href="/finance">Finance</a>
<a href="/inventory">Inventory</a>
<a href="/prediction">Prediction</a>

</div>



<div class="main">


<h1>Sales Dashboard</h1>


<div class="cards">

<div class="card">
<h3>Total Sales</h3>
<h1>$150K</h1>
</div>


<div class="card">
<h3>Orders</h3>
<h1>1200</h1>
</div>


<div class="card">
<h3>Average Order</h3>
<h1>$500</h1>
</div>


<div class="card">
<h3>Growth</h3>
<h1>20%</h1>
</div>


</div>



<div class="charts">


<div>
<canvas id="sales1"></canvas>
</div>


<div>
<canvas id="sales2"></canvas>
</div>


</div>



</div>



<script>


new Chart(document.getElementById("sales1"),{

type:"line",

data:{

labels:["Jan","Feb","Mar","Apr"],

datasets:[{

label:"Monthly Sales",

data:[100,200,300,450]

}]

}

});



new Chart(document.getElementById("sales2"),{

type:"pie",

data:{

labels:["Laptop","Mobile","Tablet"],

datasets:[{

data:[40,35,25]

}]

}

});


</script>



</body>

</html>